[submodule "backend/character-gen/Universal-LPC-Spritesheet-Character-Generator"]
	path = backend/character-gen/Universal-LPC-Spritesheet-Character-Generator
	url = https://github.com/LiberatedPixelCup/Universal-LPC-Spritesheet-Character-Generator.git
